.institutepageadvanced {
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.institiutesidebar {
  background-color: var(--tertiary);
  height: 100%;
}

.institiutesidebar::-webkit-scrollbar {
  display: none;
}

.sector {
  font-size: 1.5rem;
  text-align: left;
  padding: 10px 20px;
  border-bottom: 1px solid var(--secondary);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sector:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.institutenavbar {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: var(--darkshade2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.5rem;
}

@keyframes sidebaropen {
  from {
    transform: scaleX(0%);
    width: 0%;
  }
  to {
    width: 250px;
  }
}
@keyframes sidebarclose {
  0% {
    width: 250px;
  }

  100% {
    transform: scaleX(0%);
    width: 0%;
  }
}
