.navbar {
  height: 100px;
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.navbuttoncontainer {
  display: flex;
}
.navbutton {
  width: 100px;
  text-align: center;
}

.navbutton:hover {
  font-weight: 600;
  text-decoration: underline;
  cursor: context-menu;
}

.menucontainer {
  display: none;
}

.menucontainer img {
  width: 30px;
}
.menucontainer img:hover {
  animation: scaleup 0.5s;
  transform: scale(1.1);
}

.logocontainer {
  max-width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logocontainer img {
  height: 60px;
}
.logocontainer img:hover {
  animation: scaleup 0.5s;
  transform: scale(1.1);
}

.navrightbuttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connected {
  border: 1px solid var(--secondary);
  background-color: rgb(6, 50, 6);
  padding: 10px;
  font-family: coolvetica;
  font-size: large;
}

.navrightbuttoncontainer button {
  margin: 0px 10px;
  font-family: coolvetica;
  font-size: large;
}

.menubar {
  position: fixed;
  top: 100px;
  left: 0px;
  width: 100vw;
  background-color: var(--tertiary);
  animation: slidedown 0.5s;
}

@keyframes slidedown {
  from {
    transform: scaleY(0) translateY(-50%);
  }
  to {
    transform: scaleY(1) translateY(0%);
  }
}

.menupad {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.menuitem {
  text-align: center;
  padding: 20px;
  font-size: large;
}
.menuitem:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

@media only screen and (max-width: 900px) {
  .navbuttoncontainer {
    display: none;
  }
  .menucontainer {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .contactusbutton {
    display: none;
  }
  .navbar {
    height: 75px;
  }
}
@media only screen and (max-width: 450px) {
  .logocontainer {
    display: none;
  }
}
.greenbtn {
  background-color: rgb(6, 50, 6);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  font-family: coolvetica;
  font-size: large;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: -15px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: left;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent; color: white;}
